@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: linear-gradient(270deg, #193448 0%, #2C3333 100%);background: linear-gradient(270deg, #173f5e 0%, #2C3333 100%);
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
}

@keyframes fadeleft {
  from {
    margin-left: 0;
    opacity: 0%;
  }
  to {
    margin-left: 5%;
    opacity: 100%;
  }
}

@keyframes fadedown {
  from {
    margin-top: 0;
    opacity: 0%;
  }
  to {
    margin-top: 3%;
    opacity: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #173F5E;
}
 
::-webkit-scrollbar-thumb {
  background: #A5FF90; 
}

::-webkit-scrollbar-thumb:hover {
  background: #76b966; 
}

.row {
  margin-left: 2.5%;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 12px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 24%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-top: -50px;
}

/* Content */
.content {
  background-color: #395B64;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  transition: opacity 0.2s, transform 0.2s ease;
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  height: 35vw;
}

.content:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.content:active {
  transform: rotateY(180deg);
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

@keyframes portfoliooverlayfadedown {
  from {
    top: 0%;
    opacity: 0.5;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}

.portfoliooverlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 70%; /* Full width (cover the whole page) */
  height: 80%; /* Full height (cover the whole page) */
  top: 10%;
  bottom: 10%;
  left: 15%;
  right: 15%;
  background-color:#395B64; 
  z-index: 999;
  border-radius: 10px;
  animation-name: portfoliooverlayfadedown;
  animation-duration: 0.5s;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  .column {
    width: 48%;
  }
  .content {
    height: 70vw;
  }
  .portfolioheader {
    font-size: 7vw !important;
  }
  .portfoliodesc {
    font-size: 2.8vw !important;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 96%;
  }
  .content {
    height: 110vw;
  }
  .portfolioheader {
    font-size: 10vw !important;
  }
  .portfoliodesc {
    font-size: 4vw !important;
  }
}

.container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: inline-block;
  }
  .right {
    margin-left: 5% !important;
    margin-right: 5% !important;
    width:88% !important;
  }
  .left {
    margin-left: 5% !important;
    margin-right: 5% !important;
    width: 88% !important;
  }
}

background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.left {
  background-color: #395B64;
  width: 43%;
  line-height: 70px;
  margin-left: 5%;  
  margin-top: 3%; 
  padding: 15px 30px; 
  border-radius: 40px 0px 0px 0px; 
  animation-name: fadeleft;
  animation-duration: 2s;
}

.right {
  margin-right: 5%;
  background-color: #395B64;
  width: 43%;
  line-height: 70px;
  margin-top: 3%; 
  padding: 15px 30px; 
  border-width: 3px;
  border-top: 5px solid #a5ff90; 
  animation-name: fadedown;
  animation-duration: 2s;
}

.btn {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  background-color: transparent;
  border-radius: 3px;
  border: 3px solid #a5ff90;
  color: #A5FF90;
  cursor: pointer;
  margin-top: 25px;
  padding: 0.3vw 0.6vw;
  font-size: 32px;
  transition: background-color 0.3s, color 0.2s; 
}

.btn:hover {
  color: #395B64; 
  background-color: #A5FF90;
}

.btn:active {
  transform: scale(0.95);
}

.portfolioheader {
  font-size: 5vw;
  text-align: center;
  font-size: 5vw;
  margin-top: -40px;
  word-wrap:normal;
  overflow-wrap: break-word;
  color: #a5ff90;
}

.portfoliodesc {
  font-size: 1.6vw;
  margin-left: 5px;
}

h1 {
  color: #fff;
  font-size: 32px;
}

i {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

a:hover {
  color: #A5FF90;
}

footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #2A3334;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
