@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: -moz-linear-gradient(90deg, rgba(43,51,52,1) 0%, rgba(23,63,94,1) 77%); /* FF 3.6+ */  
  background: -ms-linear-gradient(90deg, rgba(43,51,52,1) 0%, rgba(23,63,94,1) 77%); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #ffffff)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(90deg, rgba(43,51,52,1) 0%, rgba(23,63,94,1) 77%); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(90deg, rgba(43,51,52,1) 0%, rgba(23,63,94,1) 77%); /* Opera 11.10 */  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr=transparent); /* IE6 & IE7 */  
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr=transparent)"; /* IE8+ */  
  background: linear-gradient(90deg, rgba(43,51,52,1) 0%, rgba(23,63,94,1) 77%); /* the standard */  
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
  z-index: 0.1;
  overflow-x: hidden !important;
}

@keyframes fadeleft {
  from {
    margin-left: 0;
    opacity: 0%;
  }
  to {
    margin-left: 5%;
    opacity: 100%;
  }
}

@keyframes fadedown {
  from {
    margin-top: 0;
    opacity: 0%;
  }
  to {
    margin-top: 3%;
    opacity: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #173F5E;
}
 
::-webkit-scrollbar-thumb {
  background: #A5FF90; 
}

::-webkit-scrollbar-thumb:hover {
  background: #76b966; 
}

.row {
  margin-left: 2.5%;
  z-index: 1;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 12px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 24%;
  z-index: 1;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-top: -50px;
}

/* Content */
.content {
  background-color: #395B64;
  border-radius: 10px;
  padding: 10px;
  transition: opacity 0.2s, transform 0.2s ease;
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  height: 35vw;
}

.content:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.content:active {
  transform: rotateY(180deg);
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

@keyframes portfoliooverlayfadedown {
  from {
    top: -10%;
    opacity: 0.7;
  }
  to {
    top: 7.5%;
    opacity: 1;
  }
}

.portfoliooverlay {
  position: fixed;
  display: none; /* Hidden by default */
  width: 70%; /* Full width (cover the whole page) */
  height: 85%; /* Full height (cover the whole page) */
  top: 7.5%;
  bottom: 7.5%;
  left: 15%;
  right: 15%;
  background-color:#395B64; 
  z-index: 999;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  animation-name: portfoliooverlayfadedown;
  animation-duration: 0.5s;
}

.portfolioheader {
  font-size: max(4vw, 30px);
  text-align: center;
  margin-top: -40px;
  color: #a5ff90;
}

.portfoliodesc {
  font-size: 1.6vw;
  margin-left: 5px;
}

.portfoliolongdesc {
  position: fixed;
  width: 41%;
  height: 75%;
  font-size: max(1.4vw, 15px);
  white-space: pre-wrap;
  overflow: scroll;
  overflow-x: hidden !important;
  /* text-overflow: ellipsis; */
}

.portfoliodiv {
  display: flex;
  justify-content: space-between;
}

.portfolioheaderdiv {
  width: 40%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  .column {
    width: 48%;
  }
  .content {
    height: 70vw;
  }
  .portfolioheader {
    font-size: 4vw !important;
  }
  .portfoliodesc {
    font-size: 2vw !important;
  }
  .portfoliodiv {
    display: block !important;
  }
  .portfoliolongdesc {
    width: 69%;
    height: 40%;
    margin-top: 20px !important;
    overflow: scroll !important;
    overflow-x: hidden !important
  }
  .portfolioheaderdiv {
    width: 100% !important;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 96%;
  }
  .content {
    height: 110vw;
  }
  .portfolioheader {
    font-size: 30px !important;
  }
  .portfoliodesc {
    font-size: 3vw !important;
  }
  .portfoliolongdesc {
    height: 50% !important;
  }
  body {
    overflow-x: hidden !important;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: inline-block;
  }
  .right {
    margin-left: 5% !important;
    margin-right: 5% !important;
    width:88% !important;
  }
  .left {
    margin-left: 5% !important;
    margin-right: 5% !important;
    width: 88% !important;
  }
}

background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.left {
  width: 43%;
  line-height: 70px;
  margin-left: 5%;  
  margin-top: 3%; 
  padding: 15px 30px; 
  border-radius: 40px 0px 0px 0px; 
  animation-name: fadeleft;
  animation-duration: 2s;
  z-index: 1;
  backdrop-filter: blur(4px);
  background-color: rgba(57, 91, 100, 0.5);
}

.right {
  margin-right: 5%;
  width: 43%;
  line-height: 70px;
  margin-top: 3%; 
  padding: 15px 30px; 
  border-width: 3px;
  border-top: 5px solid #a5ff90; 
  animation-name: fadedown;
  animation-duration: 2s;
  z-index: 1;
  border-radius: 0px 0px 40px 0px;
  backdrop-filter: blur(4px);
  background-color: rgba(57, 91, 100, 0.5);
}

.btn {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  background-color: transparent;
  border-radius: 3px;
  border: 3px solid #a5ff90;
  color: #A5FF90;
  cursor: pointer;
  margin-top: 25px;
  padding: 0.3vw 0.6vw;
  font-size: 32px;
  transition: background-color 0.3s, color 0.2s; 
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.btn:hover {
  color: #395B64; 
  background-color: #A5FF90;
}

.btn:active {
  transform: scale(0.95);
}


h1 {
  color: #fff;
  font-size: 32px;
  z-index: 100;
}

i {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  word-wrap: break-word;
}

a:hover {
  color: #A5FF90;
}

footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #2A3334;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: -1000%;
  padding: 10px;
}
