@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Code Pro', monospace;
  background-color: #395B64;
}

.container {
  background-color: #193448;
  width: min(40%, 1000px); 
  min-width: 400px;
}

h1 {
  color: #fff;
}

footer {
  margin-top: 30px;
  text-align: center;
}
