@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Geologica, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

body {
  margin: 0;
}